.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    text-transform: uppercase;
    margin-bottom: 5rem;

    span {
      display: block;
      font-size: 7rem;
    }
  }

  .initial {
    position: fixed;

    .btn {
      margin-top: 3rem;
    }

    &.hide {
      display: none;
    }
  }

  .second {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;

    .text {
      width: 40%;
      flex: 1 1 10rem;

      .info {
        // width: 80%;
      }
    }

    .img-container {
      height: 24rem;
      flex: 1 1 10rem;

      img {
        height: 100%;
        box-shadow: 0 0 0 10px white;
      }
    }

    &.hide {
      display: none;
    }
  }
}
