* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.btn {
  text-transform: uppercase;
  padding: 2rem 6rem;
  background: #9c4195;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.btn:hover {
  background: #81367b;
}

.btn:focus {
  background: #63285e;
  outline-style: solid;
}

.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent)), url("../img/background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero h2 {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.hero h2 span {
  display: block;
  font-size: 7rem;
}

.hero .initial {
  position: fixed;
}

.hero .initial .btn {
  margin-top: 3rem;
}

.hero .initial.hide {
  display: none;
}

.hero .second {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .second .text {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.hero .second .img-container {
  height: 24rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.hero .second .img-container img {
  height: 100%;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
}

.hero .second.hide {
  display: none;
}

.popup-container {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  display: none;
  background-color: sandybrown;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  padding: 1rem 2.5rem 1rem 3rem;
  border-radius: 5px;
  overflow: hidden;
}

.popup-container .icon {
  height: 64px;
  width: 64px;
}

.popup-container .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.popup-container .popup .close {
  position: absolute;
  right: 10px;
  top: 4px;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: bolder;
  cursor: pointer;
}

.popup-container .popup p {
  font-size: 2rem;
}

.popup-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: popup-open 0.7s forwards;
          animation: popup-open 0.7s forwards;
}

@-webkit-keyframes popup-open {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes popup-open {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1335px) {
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 755px) {
  html {
    font-size: 45%;
  }
  .main-head {
    width: 100%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
}
/*# sourceMappingURL=style.css.map */